{% extends "base.html.twig" %}




{% block content %}

<div class="container">
        <div class="hero-unit" style="margin-top:40px">
            <textarea class="textarea" placeholder="Enter text ..." style="width: 410px; height: 200px"></textarea>
        </div>
    </div>
    
    <script>
        $('.textarea').wysihtml5();
    </script>
    
    <script type="text/javascript" charset="utf-8">
        $(prettyPrint);
    </script>
{% endblock %}
