
.Formbody {
    background-image: radial-gradient(circle at center,black 650px, red );
    padding-bottom: 0px;
    color: white;



}

.tittle {
    color: white;

}
.undertittle {
    color: white;

}

.my-4 {
    background-color: white;

}

.modal{
	background-image: linear-gradient(black 500px, red);

}

.modal-body{
	background-color: black;
}

.modal-footer{
	background-color: black;

}

.GuildeBadge {
    background-image:radial-gradient(red,black, black);
    border-radius: 10px;

}


.modalVeryLarge {

    color: white;
}

.my-4 {
    margin: 20%;
    height: 2px;
    background-image: radial-gradient(circle at center,black 300px, red );

}

