<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="lib/js/jquery.js"></script>
    <script src="lib/js/bootstrap.js"></script>
    <script src="src/js/script.js"></script>    
    <link rel="stylesheet" href="lib/css/bootstrap.css">
    <link rel="stylesheet" href="src/css/style.css"> 
    <title>Projet Forum Professionel Guilde</title>
    {% block link %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>
    